body {
    margin: 0;
    background: #AAD3E9;

    font-size: 150px;
    font-family: sans-serif;
}

.main-colors {
    display: flex;
    justify-content: center;

    .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col {
        height: 100vh;
        width: 25%;
        background: lighten(#FE6809, 0%);
        border-left: 5px solid black;
        border-right: 5px solid black;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-size: 50%;
        font-weight: bolder;
    }

    .text {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
    }
}